body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #4a90e2;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 18px; /* Aumentado o tamanho do texto */
    margin-right: 10px;
    font-weight: bold; /* Deixar o label em negrito */
    width: 80px; /* Aumentado o espaço para o label */
}

.form-group input {
    width: calc(100% - 90px); /* Reduzido o input */
    padding: 8px;
    box-sizing: border-box;
}

input[type="file"] {
    display: none;
}

label.file-label {
    background-color: #4a90e2;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
}

label.file-label:hover {
    background-color: #357ab7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.remove-button {
    margin-left: 10px;
    flex-shrink: 0;
}

button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0392b;
}

.submit-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #c0392b;
}

#fileList {
    max-height: 200px;
    overflow-y: auto;
}

#fileMessage {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}

.price-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.price-button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 10px;
}

.modal-content h2 {
    color: #2ecc71;
}

.modal-content p {
    font-size: 18px;
    line-height: 1.6;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
